.button {
    border: 1px solid $background-color-index-1;
    line-height: 2em;
    padding: 0 1em;
    text-align: center;
    cursor: pointer;
    background: $button-default-color;
    color: #222;
    flex: 1;
    font-size: 1.2em;

    &.active {
        background: $button-active-color;
        color: $background-color-index-1;
    }

    &.disabled {
        background: $disabled-color;
        color: $background-color-index-1;
    }
}



button.small {
    width: 6em;
    color: $button-small-default-color;
    background: $button-small-background-color;
    padding: 0.2em;
    align-self: flex-end;
    margin-left: 0.5em;
    border: 1px solid $button-small-default-color;
    border-radius: 3px;

    &.primary {
        color: $button-small-primary-color;
        border-color: $button-small-primary-color;
    }
}