.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 0 0.3em 0 0.5em;

    .item {
        display: flex;
        padding: 0.3em 0;
        flex-shrink: 0;
        // border-bottom: 1px solid $split-color;
        margin: 0.1em 0;
        background: $backgorund-color-light;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .desc {
            display: flex;
            flex-direction: column;
            flex: 1;

            .detail {
                display: flex;
                flex: 1;
            }

            .left {
                font-size: 0.8em;
                color: $subtitle-color;
                flex: 1;
            }

            .price {
                color: $price-color;
            }
        }
    }

     .img {
        width: 3em;
        height: 3em;
        background: $active-color;
        margin-right: 0.5em;
    }
}