.number-input {
    display: flex;
    align-self: flex-end;
    align-items: center;

    .line {
        stroke: $page-background-color;
        stroke-width: 2;
    }

    .circle {
        fill: $active-color;
    }

    button {
        background: transparent;
        border: none;
        line-height: 1em;
    }

    label {
        margin: 0 0.5em;
        align-self: center;
        font-size: 1.5em;
    }
}