.tabs {
    display: flex;
    justify-content: space-between;
    background: $tab-background-color;
    margin-bottom: 0.8em;
    text-align: center;

    .active {
        color: $tab-active-color;
        border-bottom: 0.2em solid;
    }

    div {
        flex: 1;
        border-left: 1px solid $border-color;
        line-height: 2em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;

        &:first-child {
            border-left: none;
        }
    }
}