/* Common */
body {
  font-size: 1.2em;
  font-family: monospace;
  margin: 0; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.page {
  flex: 1;
  overflow: auto; }

.button {
  border: 1px solid #fff;
  line-height: 2em;
  padding: 0 1em;
  text-align: center;
  cursor: pointer;
  background: #ccc; }
  .button.active {
    background: #E91E63; }

.footer {
  background: rgba(0, 0, 0, 0.77);
  color: #fff;
  height: 2em;
  display: flex; }
  .footer .total {
    flex: 1;
    text-align: center;
    line-height: 2em; }
  .footer .button {
    flex: 1; }

.list .img {
  width: 3em;
  height: 3em;
  background: #ffc0cb;
  margin-right: 0.5em; }

.number-input {
  display: flex;
  align-self: flex-end; }
  .number-input button {
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    font-size: 15px;
    background: #fff;
    color: #ffc0cb;
    border: solid #ddd 1px;
    padding: 0; }
  .number-input label {
    margin: 0 0.5em;
    align-self: center; }

input[type="checkbox"] {
  width: 2em; }

.price {
  color: #E91E63; }

.line {
  line-height: 1.5em;
  margin: 0.3em 0;
  display: flex;
  flex: 1; }
  .line.comments {
    flex-direction: column; }
  .line .label {
    flex: 1; }
  .line .status {
    width: 8em; }

.section {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background: #fff; }
  .section .label {
    width: 7em; }
  .section .fee {
    flex-direction: row-reverse; }
    .section .fee .label {
      width: 8em; }
  .section .status {
    display: flex;
    justify-content: space-around; }
  .section .block {
    display: flex;
    flex-direction: column; }

.tabs {
  display: flex;
  border-bottom: 1px solid;
  padding: 1em;
  justify-content: space-around;
  color: #ccc;
  background: #fff; }
  .tabs .acitve {
    color: #E91E63; }

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 0 0.3em 0 0.5em; }
  .list .item {
    display: flex;
    padding: 0.3em;
    flex-shrink: 0;
    border-bottom: 1px solid #eee; }
    .list .item:first-child {
      padding-top: 0; }
    .list .item:last-child {
      border-bottom: none; }
    .list .item .descriptions {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .list .item .descriptions .detail {
        display: flex;
        flex: 1; }
      .list .item .descriptions .left {
        font-size: 0.8em;
        color: #aaa;
        flex: 1; }
      .list .item .descriptions .price {
        color: #E91E63; }

.rightToLeft {
  flex-direction: row-reverse;
  text-align: end; }

.width-small {
  width: 4em; }

.width-medium {
  width: 8em; }

.width-large {
  width: 12em; }


/* Train info Page*/
.train-info input {
  height: 2em; }
.train-info input[type="text"], .train-info .train-info input[type="number"] {
  bottom: 0.3em;
  position: relative;
  margin-right: 2em; }
.train-info select {
  height: 43px;
  bottom: 5px;
  position: relative;
  width: 60px;
  font-size: 30px; }
.train-info textarea {
  width: 80%;
  height: 8em;
  margin: 0 10px; }

