.header {
    background: #000;
    display: flex;

    .button {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
        width: 60px;
        height: 30px;
        line-height: 24px;
    }

    .button .img {
        
    }

    .label {
        flex: 1
    }
}