$active-color: #ff4a26;
$price-color: $active-color;

$background-color-index-1: #fff;
$background-color-light: rgba(215, 232, 245, 0.2);
$background-color-index-2: #eee;
$background-color-index-3: #ddd;
$background-color-index-4: #ccc;
$background-color-index-5: #bbb;
$background-color-index-6: #aaa;
$background-color-index-7: #999;
$background-color-index-8: #888;
$disabled-color: #ccc;
$subtitle-color: #aaa;
$error-color: red;

$rate-active-color: #FF9800;
$rate-normal-color: $background-color-index-2;

$page-background-color: $background-color-index-2;

$sidebar-background-color: $background-color-index-2;
$section-background-color: $background-color-light;
$split-color: $background-color-index-3;
$list-item-color: $background-color-index-1;

$number-input-color: $background-color-index-4;

$border-color: #ddd;
$button-active-color: $active-color; 
$button-default-color: $background-color-index-3;
$button-small-primary-color: $active-color;
$button-small-default-color: $background-color-index-8;
$button-small-background-color: $background-color-index-1;

$status-active-color: $active-color;
$status-todo-color: $background-color-index-2;

$tab-active-color: $active-color;
$tab-background-color: $background-color-index-1;

$content-background-color: $background-color-index-1;

$font-normal-color: $background-color-index-1;
$font-second-color: $background-color-index-8;