$active-color: #ff4a26;
$price-color: #E40045;

$backgorund-color-index-1: #fff;
$backgorund-color-light: rgba(215, 232, 245, 0.2);
$backgorund-color-index-2: #eee;
$backgorund-color-index-3: #ddd;
$backgorund-color-index-4: #ccc;
$disbaled-color: #ccc;
$subtitle-color: #aaa;
$error-color: red;

$rate-active-color: #FF9800;
$rate-normal-color: $backgorund-color-index-2;

$page-background-color: #fff;
$sidebar-background-color: $backgorund-color-index-2;
$section-background-color: $backgorund-color-light;
$split-color: $backgorund-color-index-3;
$list-item-color: $backgorund-color-index-1;

$number-input-color: $backgorund-color-index-4;

$border-color: #ddd;
$button-active-color: $active-color; 
$button-default-color: $backgorund-color-index-3;

$status-active-color: $active-color;
$status-todo-color: $backgorund-color-index-2;

$tab-active-color: $active-color;
$tab-background-color: $backgorund-color-light; 

$font-normal-color: $backgorund-color-index-1;
$font-second-color: $backgorund-color-index-4;