.footer {
    background: rgba(0, 0, 0, 0.77);
    color: $backgorund-color-index-1;
    height: 3em;
    display: flex;

    .total {
        flex: 2;
        text-align: center;
        padding: 0.5em;

        span {            
            color: $font-second-color;
        }
        
        .price {
            color: $font-normal-color;
            border-right: 1px solid $split-color;
            margin: 0.3em;
            padding-right: 0.3em;
            font-size: 1.5em;
        }
    }

    .button {
       flex: 1;
    }
}
