.order-content {
    display: flex;
    margin: 0.2em 0;

    .type {
        width: 5em;
        overflow-y: auto;
        //background: $backgorund-color-index-1;

        .item {
            text-align: center;
            //border-bottom: 0.1em solid $backgorund-color-index-3;
            padding: 0.3em;
        }

        .active {
            background: $page-background-color;
            color: $active-color;
           // border-left: 0.3em solid $active-color;    
        }
    }
}