.order-confirm {
    display: flex;
    flex-direction: column;
    background: $backgorund-color-index-2;

    .status {
        &.img {
            margin-bottom: 1em;
        }

        .img {
            border-bottom: 1px solid;
            margin-bottom: 1em;
            padding: 1em;
        }
    }
}