.order-list {
    .content {
        background: $backgorund-color-index-2;
        overflow: auto;
        flex: 1;
    }

    .page {
        display: flex;
        flex-direction: column;
    }

    .item {
        background: $backgorund-color-index-2;
        margin: 0.1em 0;
        border: none;
    }

    button.detail {
        width: 6em;
        background: $backgorund-color-index-1;
        border: 1px solid $backgorund-color-index-2;
        padding: 0.2em;
        align-self: flex-end;
    }
}