body {
  font-size: 1.2em;
  font-family: monospace;
  margin: 0; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.page {
  flex: 1;
  overflow: auto; }

input[type="checkbox"] {
  margin: 0; }

.price {
  color: #E91E63; }

.rightToLeft {
  flex-direction: row-reverse;
  text-align: end; }

.width-small {
  width: 4em; }

.width-medium {
  width: 8em; }

.width-large {
  width: 12em; }

.footer {
  background: rgba(0, 0, 0, 0.77);
  color: #fff;
  height: 2em;
  display: flex; }
  .footer .total {
    flex: 1;
    text-align: center;
    line-height: 2em; }
  .footer .button {
    flex: 1; }

.button {
  border: 1px solid #fff;
  line-height: 2em;
  padding: 0 1em;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.77); }
  .button.active {
    background: #E91E63; }
  .button.disabled {
    background: #ccc; }

.line, .section .head {
  line-height: 1.5em;
  margin: 0.3em 0;
  display: flex;
  flex: 1;
  align-items: center; }
  .line.comments, .section .comments.head {
    flex-direction: column;
    align-items: flex-start; }
  .line .label, .section .head .label {
    flex: 1; }
  .line .status, .section .head .status {
    width: 8em; }

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 0 0.3em 0 0.5em; }
  .list .item {
    display: flex;
    padding: 0.3em;
    flex-shrink: 0;
    border-bottom: 1px solid #eee; }
    .list .item:first-child {
      padding-top: 0; }
    .list .item:last-child {
      border-bottom: none; }
    .list .item .descriptions {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .list .item .descriptions .detail {
        display: flex;
        flex: 1; }
      .list .item .descriptions .left {
        font-size: 0.8em;
        color: #aaa;
        flex: 1; }
      .list .item .descriptions .price {
        color: #E91E63; }
  .list .img {
    width: 3em;
    height: 3em;
    background: #ffc0cb;
    margin-right: 0.5em; }

.number-input {
  display: flex;
  align-self: flex-end; }
  .number-input button {
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    font-size: 15px;
    background: #fff;
    color: #ffc0cb;
    border: solid #ddd 1px;
    padding: 0; }
  .number-input label {
    margin: 0 0.5em;
    align-self: center; }

.section {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background: #fff; }
  .section .title {
    flex: 1;
    font-weight: bold; }
  .section .head {
    border-bottom: 1px solid #eee;
    padding: 0.2em 0;
    margin-bottom: 0.4em; }
  .section .label {
    width: 7em; }
  .section .fee {
    flex-direction: row-reverse; }
    .section .fee .label {
      width: 8em; }
  .section .status {
    display: flex;
    justify-content: space-around; }
  .section .block {
    display: flex;
    flex-direction: column; }

.tabs {
  display: flex;
  border-bottom: 1px solid;
  padding: 1em;
  justify-content: space-around;
  color: #ccc;
  background: #fff; }
  .tabs .active {
    color: #E91E63; }

.order-confirm {
  display: flex;
  flex-direction: column;
  background: #eee; }
  .order-confirm .status .active {
    color: #E91E63; }

.order-list .content {
  background: #eee;
  overflow: auto;
  flex: 1; }
.order-list .page {
  display: flex;
  flex-direction: column; }
.order-list .item {
  background: #eee;
  margin: 0.1em 0;
  border: none; }
.order-list button.detail {
  width: 6em;
  background: #fff;
  border: 1px solid #eee;
  padding: 0.2em;
  align-self: flex-end; }

.order-info {
  background: #eee; }
  .order-info select {
    height: 43px;
    bottom: 5px;
    position: relative;
    width: 60px;
    font-size: 30px; }
  .order-info textarea {
    width: 100%;
    height: 8em; }

.order-content {
  display: flex;
  margin: 0.2em 0; }
  .order-content .type {
    width: 5em;
    margin-right: 0.1em;
    overflow-y: auto;
    background: #ddd; }
    .order-content .type .item {
      text-align: center;
      border-bottom: 0.1em solid #eee;
      padding: 0.3em; }
    .order-content .type .active {
      background: #fff;
      color: #ffc0cb;
      border-left: 0.3em solid #ffc0cb; }
  .order-content .detail {
    flex: 1; }

/*# sourceMappingURL=test.css.map */
