.train-info {
    input {
        height: 2em;
    }

    input[type="text"], .train-info input[type="number"] {
        bottom: 0.3em;
        position: relative;
        margin-right: 2em;
    }

    select {
        height: 43px;
        bottom: 5px;
        position: relative;
        width: 60px;
        font-size: 30px;
    }

    textarea {
        width: 80%;
        height: 8em;
        margin: 0 10px;
    }
}